<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Phones and tablets: touchscreen stays required (the default), leanback
         is irrelevant. -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.FunnyTV" />
    </application>

</manifest>
